<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Poke - Explorer</title>
  </head>
  <body>
    <div class="container">
        <form action= "http://127.0.0.1:5000/result" method="POST">
            <div class="form-group">
                <input type="text" name="poke" class="form-control" placeholder="Input pokemon name here">
            </div>
            <button type="submit" class="btn btn-success">Search<i class="fa fa-search"></i></button>
            </form>
    </div>
  </body>
</html>
